# This is Git's per-user configuration file.
[user]
  name = Joshua Sargent
  email = josh@joshuasargent.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICNOvO3AW8aSyOLvXw0roQ6F303TThjK6z2XYoOlNQD9

[core]
  excludesfile = ~/.gitignore

[gpg]
	format = ssh
	program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/