# This is Git's per-user configuration file.
[user]
	name = Joshua Sargent
	email = the-sarge@the-sarge.com
	signingkey = ~/.ssh/GitHub.pub

[core]
	excludesfile = ~/.gitignore
	editor = hx
	pager = less -FRX

[init]
	defaultBranch = main

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[pull]
	rebase = false
	ff = only

[fetch]
	prune = true
	pruneTags = true

[rebase]
	autoStash = true
	autoSquash = true

[diff]
    algorithm = histogram
    colorMoved = default
    colorMovedWS = allow-indentation-change
    mnemonicPrefix = true
    renames = copies

[merge]
    conflictStyle = zdiff3

[branch]
    sort = -committerdate

[tag]
    sort = version:refname
	gpgsign = true

[column]
    ui = auto

[gpg]
	format = ssh
	program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg "ssh"]
	allowedSignersFile = /Users/josh/.config/git/allowed_signers
